article {
	margin: 10px;
	display: block;
	padding: 5px;
	/*width: 100%;*/
	/*width: 500px;*/
	background: #d9dabb;
	border-radius: 5px;
}


article > a {
	font-size: 1.5rem;
	padding: 10px;
}

article > * {
	display: inline-block;
	vertical-align: middle;
}

article img {
	width: 150px;
	/*display: none;*/
	border-radius: 5px;
}





